[Unit]
Description=Node Exporter {{ linux_node_exporter_version }}
After=network-online.target
[Service]
User={{ linux_node_exporter_user }}
Group={{ linux_node_exporter_user }}
Type=simple
ExecStart={{ linux_node_exporter_bin }} --collector.systemd --collector.systemd.unit-include="pve.+|corosync.+"
[Install]
WantedBy=multi-user.target
