[Unit]
Description=Node Exporter {{ linux_node_exporter_version }}
After=network-online.target
[Service]
User={{ linux_node_exporter_user }}
Group={{ linux_node_exporter_user }}
Type=simple
{% if inventory_hostname in groups["linux_vm"] %}
ExecStart={{ linux_node_exporter_bin }} --collector.systemd --collector.systemd.unit-include=".+runner.+|docker.+|rx-sign-server.+"
{% elif inventory_hostname in groups["proxmox"] %}
ExecStart={{ linux_node_exporter_bin }} --collector.systemd --collector.systemd.unit-include="pve.+|corosync.+"
{% endif %}
[Install]
WantedBy=multi-user.target
